@model LaptopStore.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>Index</h1>
<div class="row">
    @foreach (var laptop in Model.Laptops)
    {
        <div class="col-md-4">
            <a href="@laptop.Url">
                @Html.Raw(laptop.Content.Replace("\n", "<br />"))
            </a>
            <div>@laptop.Manufacturer</div>
        </div>
    }
</div>
<div class="row">
    @foreach (var manufacturer in Model.Manufacturers)
    {
        <div class="col-md-2">
            @manufacturer.Name
        </div>
    }
</div>