@*@model IEnumerable<LaptopViewModel>

@foreach (var item in Model)
{
    <div class="panel-group">
        <div class="panel panel-default">
            Manufacturer: <div>@item.Manufacturer</div> <br />
        </div>
        <div class="panel panel-default">
            MonitorSize: <div>@item.MonitorSize</div>    <br />
        </div>
        <div class="panel panel-default">
            HardDiskSize: <div>@item.HardDiskSize</div>    <br />
        </div>
    </div>
}*@