@model LaptopViewModel

@using (Html.BeginForm("CartCount", "Cart"))
{
        @Html.HiddenFor(x => x.Id)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" class="btn btn-primary" value="Add to cart" />
        @*<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Add to cart</button>*@
}
