@model ShoppingCartViewModel

@foreach (var item in Model.CartItems)
{
    <tr id="row-@item.Id">
        <td>
            @Html.ActionLink(item.Laptop.Manufacturer.Name + " " + item.Laptop.Model, "Details", "Laptop", new { id = item.LaptopId }, null)
        </td>
        <td>
            @item.Laptop.Price $
        </td>
        <td id="item-count-@item.Id">
            @item.Quantity
        </td>
        <td>
            <a href="#" class="RemoveLink btn btn-danger" data-id="@item.Id">Remove</a>
        </td>
    </tr>
}