@model ShoppingCartViewModel
<h3>
    Cart
</h3>

@Html.Partial("_CartTable")

@Html.Partial("_BackToShop")

@Html.Partial("_Checkout")

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $(function () {
            $(".RemoveLink").click(function () {
                var recordToDelete = $(this).attr("data-id");
                if (recordToDelete != '') {
                $.post("/Cart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }

                        $('#cart-total').text(data.CartTotal + " $");
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
                }
            });

        });
    </script>
}